.form-style {
    display: flex;
    justify-content: center;
}

.rouseDarkThemeCheck {
    color: white;
}

.rouseLightThemeCheck {}

.rouseDarkThemeRes {
    color: white;
    display: flex;
    flex-direction: column;
}

.rouseLightThemeRes {
    display: flex;
    flex-direction: column;
}

.rouseDarkThemeResNum {
    display: flex;
    justify-content: center;
}

.rouseLightThemeResNum {
    display: flex;
    justify-content: center;
}

.rouseDarkThemeTotal {
    display: flex;
    justify-content: center;
}

.rouseLightThemeTotal {
    display: flex;
    justify-content: center;
}